.status-500 {
	background: red;
	color: white;
	font-weight: bold;
}

.status-200 {
	background: green;
	color: white;
	font-weight: bold;
}

.hide {
	display: none;
}

.avg-time{
	opacity: .5;
    color: #333;
    font-weight: normal;
    font-size: 10px;
}